.card-perso {
    width: 280px;
    height: 170px;
    border-radius: .5em;
    box-shadow: 5px 5px 10px #ececec;
    background-color: white;
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    color: #53556d;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: #222;

    .general-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .card-info {
            font-size: .9em;
            color:rgb(191, 191, 191) !important;
            font-weight: 500;
        }
    }
}

.card-master-card {
    background-image: url('../../assets/svg/master-card.svg');
    background-size:cover;
}

.dark {
    color: white !important;
}