<nav class="nav-bar vertical-nav">
    <ul class="nav-list">
        <li>
            <a routerLink="/" class="navbrand"><span class="icon-logo-blue"></span> Klamma</a>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/home">
            <a class="navlink"><span class="icon-home"></span> Overview</a>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/card">
            <a class="navlink"><span class="icon-wallet"></span> Cards</a>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/payement">
            <a class="navlink"><span class="icon-payement"></span> Payements</a>
            <span class="icon-chevron-down" data-bs-toggle="collapse" data-bs-target="#sub_menu_payement" role="button" aria-expanded="false" aria-controls="collapseExample"></span>
        </li>
        <ul class="submenu nav-list collapse" id="sub_menu_payement">
            <li class="nav-sub-item nav-item"><a href="#" class="navlink"><span class="icon-pencil"></span>Option 1</a></li>
            <li class="nav-sub-item nav-item"><a href="#" class="navlink"><span class="icon-pencil"></span>Option 2</a></li>
        </ul>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/report" class="navlink"><span class="icon-reports"></span> Reports</a>
            <span class="icon-chevron-down" data-bs-toggle="collapse" data-bs-target="#sub_menu_report" role="button" aria-expanded="false" aria-controls="collapseExample"></span>
        </li>
        <ul class="submenu nav-list collapse" id="sub_menu_report">
            <li class="nav-sub-item nav-item"><a href="#" class="navlink"><span class="icon-pencil"></span>Option 1</a></li>
            <li class="nav-sub-item nav-item"><a href="#" class="navlink"><span class="icon-pencil"></span>Option 2</a></li>
        </ul>
        <li class="nav-item">
            <a routerLinkActive="active" routerLink="/contact" class="navlink"><span class="icon-contact"></span> Contacts</a>
        </li>
    </ul>

    <ul class="nav-list">
        <li class="nav-item">
            <a routerLinkActive="active" routerLink="/setting" class="navlink"><span class="icon-cog"></span> Settings</a>
        </li>
        <li class="nav-item">
            <a routerLinkActive="active" routerLink="/account" class="navlink"><span class="icon-avatar"><span class="path1"></span><span class="path2"></span></span> Account</a>
        </li>
    </ul>
</nav>