<div class="row">
    <div class="col">
        <app-list-card></app-list-card>
    </div>
</div>
<div class="row">
    <div class="col-md-7 pe-md-5" >
        <div style="border-bottom: solid #c1bcbc 1px;" class="pb-4" >
            <app-limit></app-limit>
        </div>
        <div class="pt-4">
            <app-payement></app-payement>
        </div>
    </div>
    <div class="col-md-5 px-5" id="list-activites" style="border-left: solid #c1bcbc 1px">
        <app-list-activities></app-list-activities>
    </div>
</div>
