/* You can add global styles to this file, and also import other style files */

@import url('../src/assets/scss/_layout.scss');
@import '../src/assets/scss/navbar';
@import '../src/assets/scss/icon';

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #2f3677;
}

* {
    color: inherit;
}

.button {
    font-size: 0.8em;
    border-radius: .5em;
    padding: .5em;
    border:none;
}

h4, h5 {
    font-weight: bold !important;
}

.full-contaier {
    width: 100%;
}
.container{
    width: 90%;
    margin:auto;
}

.row {
    display: flex;
    flex-direction: row;
}
#left-menu {
    height: 100vh;
    background-color: #ffffff;
    // min-width: 200px;
    // width: 20%;
    max-width: 300px;
    box-shadow: 11px 1px 10px #ececec;;
    z-index: 1;
    position:fixed;
}

#main {
    // width: auto;
    margin-left: auto;
    background-color: #f7faff;
}